# General
.DS_Store
.env
.env.local
*.log

# Python / FastAPI
__pycache__/
*.py[cod]
venv/
backend/venv/
moneyquest-backend/venv/

# Node / React Native
node_modules/
.expo/
dist/
web-build/

# Mobile Build
*.jks
*.p12
*.key
*.keystore
android/
ios/

# IDE
.idea/
.vscode/

# Firebase
google-services.json
GoogleService-Info.plist
